
body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

main {
    margin: 0 auto;
    width: 75%;
    padding: 2em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    margin: 0;
    font-family: 'Righteous', cursive;
}

ul:first-of-type {
    margin: 0 auto;
}

ul>li {
    margin: 1em;
}

ul>li li {
    margin: 0;
}

footer {
    margin: 0 auto;
    width: 75%;
    padding: 2em;
}

.skew-ex {
    transform: skew(15deg, 4deg);
    margin: 3em 0;
}