// import
@import 'scss/animations';
@import 'scss/layout';
@import 'scss/breakpoints';

// variables
$primary-color: #f3f4ed;
$secondary-color: #155263;
$tertiary-color: #ff6f3c;
$link-color: #ffc93c;
$accent: #ff9a3c;

// selectors
//changing the scrollbar
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 25px;
}

body {
    background-color: $primary-color;
    margin: 0;
    font: 1em 'Helvetica', sans-serif;
}

header,
footer {
    background-color: $secondary-color;
    color: $primary-color;
}

header {
    padding: 2em 1em;
}

footer {
    padding: 1.8em 0.8em;
    overflow: hidden;
}

main.text-pretender {
    text-align: center;
    // media query for medium
    @include breakpoint(large) {
        margin: 0 auto;
        width: 80%;
        padding: 1em;
        text-align: left;
        @include grid-container(2);
        grid-template-rows: 80px 40px 2fr;
    }
    // grid system
    h2 {
        @include breakpoint(large) {
            @include grid-column-row(1, 1, 1, 1);
        }
    }
    .note {
        @include breakpoint(large) {
            @include grid-column-row(1, 1, 2, 1);
        }
    }
    .phone {
        @include breakpoint(large) {
            @include grid-column-row(1, 1, 3, 1);
            align-self: center;
            justify-self: center;
        }
    }
    .options {
        @include breakpoint(large) {
            @include grid-column-row(2, 1, 3, 1);
            border-radius: 15px;
            justify-self: start;
        }
    }
}

h1 {
    margin: 0;
    color: $primary-color;
    font: 2.8em 'Major Mono Display', monospace;
}

h2 {
    color: $tertiary-color;
    font: 1.8em 'Source Code Pro', monospace;
}

h3,
h4,
h5,
h6 {
    color: $tertiary-color;
    font: 1em 'Source Code Pro', monospace;
    margin: 0;
    margin-top: 1em;
}

a {
    color: $link-color;
    text-decoration: none;
    &:hover {
        color: $primary-color;
        transition: color 0.2s ease-in;
    }
}

input,
textarea {
    padding: 0.8em;
}

textarea {
    width: 95%;
    border-radius: 20px;
}

input {
    border: none;
    border-radius: 20px;
}

button {
    border: none;
    border-radius: 12px;
    background-color: $link-color;
    color: $secondary-color;
    padding: 0.8em;
    transition: background-color 0.3s ease-out;
    &:hover {
        background-color: $accent;
        transition: background-color 0.3s ease-in;
    }
}

.blink-type {
    display: none;
    background-color: $tertiary-color;
    height: 100%;
    width: 2px;
    @include breakpoint(medium) {
        display: inline;
        opacity: 1;
        animation: blink-animation 2s linear infinite;
        -webkit-animation: blink-animation 2s linear infinite;
    }
}

div.phone-case {
    width: 100%;
    @include breakpoint(large) {
        width: 400px;
    }
    height: 700px;
    background-color: darken(darkgray, 40%);
    display: flex;
    border-radius: 25px;
    align-items: center;
}

// phone screen
div.phone-screen {
    width: 100%;
    height: 90%;
    margin: auto;
    background-color: white;
    display: grid;
    @include grid-container(1, 28);
    // phone header
    div.phone-header {
        @include grid-column-row(1, -span, 1, 1);
        background-color: darken($secondary-color, 15%);
        text-align: right;
        padding-right: 0.5em;
        padding-top: 0.25em;
        font-size: 0.8em;
        color: white;
        .battery {
            transform: rotate(-90deg);
        }
    }
    // text header
    div.text-header {
        @include grid-column-row(1, -span, 2, 2);
        @include grid-container(6, 2);
        padding: 0.5em;
        border-bottom: solid 1px lightgray;
        div:nth-child(1) {
            @include grid-column-row(1, 1, 1, 2);
            align-self: center;
        }
        div:nth-child(2) {
            @include grid-column-row(2, 3, 1, 1);
            justify-self: start;
        }
        div:nth-child(3) {
            @include grid-column-row(5, 2, 1, 2);
            align-self: center;
            justify-self: end;
        }
        div:nth-child(4) {
            @include grid-column-row(2, 3, 2, 1);
            justify-self: start;
        }
    }
    // messages portion
    div.messages {
        @include grid-column-row(1, -span, 4, 23);
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        font-size: 0.9em;
        word-break: break-all;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        // message box
        div {
            max-width: 100%;
            margin: 0 auto;
            div {
                width: fit-content;
                margin-left: 0;
                margin-right: 0;
                max-width: 60%;
            }
        }
    }
    // text footer
    div.text-footer {
        @include grid-column-row(1, -span, 27, 2);
        border-top: solid 1px lightgray;
        padding-top: 0.4em;
        .icon {
            color: darkgray;
        }
        input {
            border: 1px solid darkgray;
            padding: 0.5em;
        }
        button {
            border: none;
            background: #218aff;
            color: white;
            padding: 0.5em;
            border-radius: 25px;
            &:hover {
                background-color: lighten(#218aff, 5%);
            }
        }
    }
}

.icon i {
    margin: 0 0.5rem;
}

.removed {
    transition: opacity 0.3s ease-out;
    opacity: 0;
}

.received,
.sent {
    margin-bottom: 10px !important;
    display: grid;
    transition: transform 0.2s ease-out;
    .delete-message {
        padding: 0;
        opacity: 0;
        transition: opacity 0.2s ease-out;
        color: $tertiary-color;
        background: transparent;
        border: none;
    }
    div {
        padding: 0.8em;
        border-radius: 25px;
        display: inline-block;
        max-width: 60%;
    }
    &:hover {
        transform: translateY(-10%);
        transition: transform 0.2s ease-in;
        .delete-message {
            opacity: 1;
            transition: opacity 0.2s ease-in;
        }
    }  
}

.received {
    text-align: left;
    grid-template-columns: 15px 2fr;
    grid-template-rows: 0.4fr 15px 2fr;
    .delete-message {
        @include grid-column-row(1, 1, 2, 1);
    }
    .receive-name {
        @include grid-column-row(2, 1, 1, 1);
        padding: 0.2em;
        display: block;
    }
    .receivedMessage {
        @include grid-column-row(2, 1, 2, 2);
        background-color: lightgray;
        margin-left: 10px;
    }
}

.sent {
    text-align: right;
    grid-template-columns: 2fr 15px;
    grid-template-rows: 15px 2fr;
    .delete-message {
        @include grid-column-row(2, 1, 1, 1);
        left: 30%;
        bottom: 20%;
    }
    div {
        @include grid-column-row(1, 1, 1, 2);
        justify-self: end;
        text-align: left;
        background-color: teal;
        color: white;
        margin-right: 0;
    }
}

.convo-time {
    font-size: 0.7em;
    color: darkgray;
    text-align: center;
    margin: 0 auto;
}

.hidden {
    display: none;
    animation: fade-out 0.3s ease-out;
}

.options {
    margin: 0;
    padding: 0.5em;
    background-color: $secondary-color;
    color: $accent;
    @include breakpoint(medium) {
        padding: 1em;
    }
    @include breakpoint(large) {
        .input-grid label {
            justify-self: center;
        }
    }
    form {
        margin: 0.4em;
    }
}

.input-grid {
    @include grid-container(4);
    margin: 0.5em auto;
    align-items: center;
    label {
        @include grid-column-row(1, 1);
    }
    input {
        @include grid-column-row(2, 3);
    }
}

.input-grid-other {
    @include grid-container(5);
    grid-gap: 5px;
    margin: 0.5em auto;
    align-items: center;
    label {
        @include grid-column-row(1, 1);
    }
    input {
        @include grid-column-row(2, 3);
    }
    button {
        @include grid-column-row(5, 1);
    }
}

.warning {
    color: white;
    font-size: 0.8em;
}

.phone-num .warning {
    text-align: left;
}

.fadeIn {
    animation: fade-in 0.3s ease-in;
}

.name-options {
    @include breakpoint(large) {
        text-align: right;
    }
    h4 {
        text-align: left;
    }
}

#singleName {
    animation: fade-in 0.3s ease-in;
}

#optionalNames {
    animation: fade-in 0.3s ease-in;
    opacity: 1;
    div {
        animation: fade-in 0.3s ease-in;
        margin: 0.3em auto;
        @include grid-container(4);
        label {
            @include grid-column-row(1, 1);
            align-self: center;
        }
        input {
            @include grid-column-row(2, 3);
        }
    }
    .removed {
        animation: fade-out 0.3s ease-out;
        opacity: 0;
    }
    &.removed {
        opacity: 0;
        transition: opacity 0.3s ease-out;
    }
}