@keyframes blink-animation {
  0%, 49%, 100% {
    opacity: 1;
  }
  50%, 51%, 99%, 100% {
    opacity: 0;
  }
}
@-webkit-keyframes blink-animation {
  0%, 49%, 98% {
    opacity: 1;
  }
  50%, 51%, 99%, 100% {
    opacity: 0;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
body {
  background-color: #f3f4ed;
  margin: 0;
  font: 1em "Helvetica", sans-serif;
}

header,
footer {
  background-color: #155263;
  color: #f3f4ed;
}

header {
  padding: 2em 1em;
}

footer {
  padding: 1.8em 0.8em;
  overflow: hidden;
}

main {
  text-align: center;
}
@media (min-width: 35em) {
  main {
    padding: 1em;
    text-align: left;
  }
}

h1 {
  margin: 0;
  color: #f3f4ed;
  font: 2.8em "Major Mono Display", monospace;
}

h2 {
  color: #ff6f3c;
  font: 1.8em "Source Code Pro", monospace;
}

h3,
h4,
h5,
h6 {
  color: #ff6f3c;
  font: 1em "Source Code Pro", monospace;
  margin: 0;
  margin-top: 1em;
}

a {
  color: #ffc93c;
  text-decoration: none;
}
a:hover {
  color: #f3f4ed;
  transition: color 0.2s ease-in;
}

.blink-type {
  display: none;
  background-color: #ff6f3c;
  height: 100%;
  width: 2px;
}
@media (min-width: 35em) {
  .blink-type {
    display: inline;
    opacity: 1;
    animation: blink-animation 2s linear infinite;
    -webkit-animation: blink-animation 2s linear infinite;
  }
}

div.phone-case {
  width: 100%;
  height: 800px;
  background-color: #434343;
  display: flex;
  border-radius: 25px;
  align-items: center;
}

div.phone-screen {
  width: 100%;
  height: 88%;
  margin: auto;
  background-color: white;
  display: grid;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(14, 1fr);
}
div.phone-screen div.text-header {
  grid-column: 1/span -span;
  grid-row: 1/span 1;
  padding: 0.5em;
  background-color: lightgray;
}
div.phone-screen div.messages {
  grid-column: 1/span -span;
  grid-row: 2/span 12;
  width: 100%;
  height: 100%;
  overflow: auto;
}
div.phone-screen div.messages div {
  max-width: 95%;
  margin: 0 auto;
}
div.phone-screen div.messages div div {
  margin-left: 0;
  margin-right: 0;
  max-width: 80%;
}
div.phone-screen div.text-footer {
  grid-column: 1/span -span;
  grid-row: 14/span 1;
  background-color: lightgray;
}

.received,
.sent {
  margin-bottom: 15px !important;
}
.received div,
.sent div {
  padding: 0.8em;
  border-radius: 15px;
  display: inline-block;
  max-width: 60%;
}

.received {
  text-align: left;
}
.received div:nth-child(1) {
  padding: 0.2em;
  display: block;
}
.received div:nth-child(2) {
  background-color: lightgray;
  margin-left: 10px;
}

.sent {
  text-align: right;
}
.sent div {
  background-color: teal;
  color: white;
  margin-right: 0;
}

.hidden {
  display: none;
  animation: fade-out 0.3s ease-out;
}

.options {
  margin: 0.8em;
  background-color: #155263;
  color: #ff9a3c;
}
.options div {
  margin: 0.4em;
}

.device-choice {
  display: none;
}
@media (min-width: 35em) {
  .device-choice {
    display: block;
  }
}

#optionalNames {
  animation: fade-in 0.3s ease-in;
}
#optionalNames div {
  animation: fade-in 0.3s ease-in;
}

/*# sourceMappingURL=main.css.map */
